{% extends "template/widget.html" %}

{% set widget_color = "lime" %}

{% block widget_header %}
  <strong>Web/Mobile Development</strong>
  <span class="fas fa-fingerprint is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  {% if ARCHIVES_GITLAB %}
    {% set posts = ARCHIVES_GITLAB | shuffle %}
    <ul class="widget-list">
    {% for title, url in posts[:5] %}
      <li><a href="https://epsi-rns.gitlab.io{{ url }}"
            >{{ title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
