{% extends "layouts/columns-single.html" %}

{% set color_main = 'blue' %}
{% set blog_class = 'has-text-centered' %}
{% set repo = 'https://gitlab.com/epsi-rns/tutor-pelican-bulma-md/tree/master' %}

{% block blog_header %}
  <div class="main_title">
  {% block content_title %}
    <h2 class="title is-4" itemprop="name headline">
      {{ page.title }}</h2>
  {% endblock %}  
  </div>
{% endblock %}

{% block blog_body %}
  <br/>

  <h3 class="title is-5">Welcome to Pelican Demo!</h3>
  <h4 class="title is-6">Pelican + Jinja2 + Bulma MD</h4>

  <p>This demo contain seven chapters:</p>

  <div>
    [ <a href="{{ repo }}/step-01">Tutor 01</a> ]
    [ <a href="{{ repo }}/step-02">Tutor 02</a> ]
    [ <a href="{{ repo }}/step-03">Tutor 03</a> ]
  </div>
  <div>
    [ <a href="{{ repo }}/step-04">Tutor 04</a> ]
    [ <a href="{{ repo }}/step-05">Tutor 05</a> ]
    [ <a href="{{ repo }}/step-06">Tutor 06</a> ]
  </div>
  <div>
    [ <a href="{{ repo }}/step-07">Tutor 07</a> ]
  </div>

  <p class="center-align">This site is intended as demo only.</p>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="{{ SITEURL }}/blog/index.html"
      ><span class="is-hidden-mobile">
      Articles Sorted&nbsp;</span>by Date</a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="{{ SITEURL }}/tags.html"
      ><span class="is-hidden-mobile">
      Articles Sorted&nbsp;</span>by Tag</a>
  </p>

  <div class="justify-content-center">
    <img src="{{ SITEURL }}/theme/images/cards/one-page.png" 
         alt="business card">
  </div>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="https://gitlab.com/epsi-rns/tutor-pelican-bulma/"
      >Clone Pelican&nbsp;<span class="is-hidden-mobile">
      Tutorial Repository</span></a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="https://gitlab.com/epsi-rns/tutor-html-bulma-md/"
      >Clone Bulma MD&nbsp;<span class="is-hidden-mobile">
      Tutorial Repository</span></a>
  </p>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="https://epsi-rns.github.io/"
      >Web/Mobile&nbsp;<span class="is-hidden-mobile">
      Development</span></a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="https://epsi-rns.gitlab.io"
      >BSD/Linux&nbsp;<span class="is-hidden-mobile">
      Customization</span></a>
  </p>

  <p class="lead text-muted">
    <span class="fas fa-home"></span>&nbsp;
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
  </p>
{% endblock %}
