
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{SITEURL}}/2014/03/25/bruce-springsteen-one-step-up/"
              >Bruce Springsteen - One Step Up</a></li>
        <li><a href="{{SITEURL}}/2014/03/15/bruce-springsteen-the-river/"
              >Bruce Springsteen - The River</a></li>
      </ul>

    </div>
  </div>
